<a href="https://colab.research.google.com/github/YenLinWu/Python_for_NCCU_Accounting/blob/main/20210526/NumPy_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align='center' ><font size='70'>NumPy 與 Pandas</font></div>

<center>講師: YenLin Wu (<a href="https://github.com/YenLinWu">Github</a>) &nbsp&nbsp&nbsp 日期: May 26, 2021 </center>

# 匯入套件

In [ ]:
import numpy as np 
import pandas as pd

print( 'Numpy Version:', np.__version__ )
print( 'Pandas Version:', pd.__version__ )

Numpy Version: 1.19.5
Pandas Version: 1.1.5

# Array(陣列)

## 建立陣列

[numpy.array( )](https://numpy.org/doc/stable/reference/generated/numpy.array.html) 函數可用來建立 $n$ 維( $ n\geq 1$ )的陣列。

In [ ]:
arr_1 = np.array( [1,3,5,7,9] )
arr_1

array([1, 3, 5, 7, 9])

In [ ]:
# 陣列中元素的型態
arr_1.dtype  

# 陣列的維度(Dimension)，或稱軸(Axis)。
arr_1.ndim

# 陣列的元素個數
arr_1.size

# 陣列的形狀，表示每個維度的元素個數。
arr_1.shape

print( 'Type of Element in Array:', arr_1.dtype )
print( 'Dimension of Array =', arr_1.ndim )
print( 'Size of Array =', arr_1.size )
print( 'Shape of Array =', arr_1.shape )

Type of Element in Array: int64
Dimension of Array = 1
Size of Array = 5
Shape of Array = (5,)

In [ ]:
arr_2 = np.array( ([1,3,5,7,9],[2.0,4.0,6.0,8.0,10.0]) )
arr_2

array([[ 1.,  3.,  5.,  7.,  9.],
       [ 2.,  4.,  6.,  8., 10.]])

In [ ]:
# 陣列中元素的型態
arr_2.dtype  

# 陣列的維度(Dimension)，或稱軸(Axis)。
arr_2.ndim

# 陣列的元素個數
arr_2.size

# 陣列的形狀，表示每個維度的元素個數。
arr_2.shape

print( 'Type of Element in Array:', arr_2.dtype )
print( 'Dimension of Array =', arr_2.ndim )
print( 'Size of Array =', arr_2.size )
print( 'Shape of Array =', arr_2.shape )

Type of Element in Array: float64
Dimension of Array = 2
Size of Array = 10
Shape of Array = (2, 5)

## 建立特殊的陣列

[`numpy.zeros()`](https://numpy.org/doc/stable/reference/generated/numpy.zeros.html) 函數可建立元素皆為 0 的陣列，資料型態預設為 float 。

In [ ]:
# 建立元素皆為 0 的一維陣列
zero_arr = np.zeros( 5 )
zero_arr

array([0., 0., 0., 0., 0.])

In [ ]:
# 建立元素皆為 0 的二維陣列
zero_arr = np.zeros( (3,4) )
zero_arr

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
# 建立元素皆為 0 的二維陣列，且元素的資料型態設為整數(int)。
zero_arr = np.zeros( (3,4), dtype=int )
zero_arr

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

[`numpy.ones()`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ones.html) 函數可建立元素皆為 1 的陣列，資料型態預設為 float。

In [ ]:
# 建立元素皆為 1 的二維陣列，且元素的資料型態設為整數(int)。
one_arr = np.ones( (3,4), dtype=int )
one_arr

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

[`ndarray.full()`](https://numpy.org/doc/stable/reference/generated/numpy.full.html) 函數可建立指定元素的陣列。

In [ ]:
# 建立元素皆為 5 的二維陣列，且元素的資料型態設為整數(int)。
five_arr = np.full( (3,4), 5 )
five_arr

array([[5, 5, 5, 5],
       [5, 5, 5, 5],
       [5, 5, 5, 5]])

[`numpy.arange( start, stop, step )`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.arange.html) 函數可建立一區間 $[start,stop)$ 內的數值陣列。

In [ ]:
# 建立 [1,10) 中整數的一維陣列
arr_3 = np.arange( 1, 10 )

# 建立 [1,10) 之間的奇數一維陣列，且元素的資料型態設為浮點數(float)。
odd_arr = np.arange( 1, 10, 2, dtype=float )

# 建立 [1,10) 之間的偶數一維陣列，且元素的資料型態設為浮點數(float)。
even_arr = np.arange( 2, 10, 2, dtype=float )

print( '[1,10) 中整數的一維陣列：', arr_3 ) 
print( '[1,10) 中奇數的一維陣列：', odd_arr ) 
print( '[1,10) 中偶數的一維陣列：', even_arr )

[1,10) 中整數的一維陣列： [1 2 3 4 5 6 7 8 9]
[1,10) 中奇數的一維陣列： [1. 3. 5. 7. 9.]
[1,10) 中偶數的一維陣列： [2. 4. 6. 8.]

[`numpy.linspace( start, stop, num=50, endpoint=True )`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linspace.html) 函數可建立一區間 $[start, stop]$ 等分割子區間的端點數值陣列。

In [ ]:
# 在 [1,3] 的區間中，將其等分割成四等分的數值點(1、1.5、2、2.5、3)陣列。
l_arr = np.linspace( 1, 3, 5)

print( f'4 等分 [1,3] 區間的子區間端點陣列：', l_arr )

4 等分 [1,3] 區間的子區間端點陣列： [1.  1.5 2.  2.5 3. ]

## 邏輯運算子

In [ ]:
x = np.array( [2,1,3], dtype=float )
y = np.array( [-2,1,5] )
print( f'x={x}, y={y}' )

x=[2. 1. 3.], y=[-2  1  5]

In [ ]:
x == y

array([False,  True, False])

In [ ]:
x != y

array([ True, False,  True])

In [ ]:
x < y

array([False, False,  True])

In [ ]:
x <= y

array([False,  True,  True])

In [ ]:
x <= 1

array([False,  True, False])

## 算數運算子

In [ ]:
x = np.array( [2,1,3], dtype=float )
y = np.array( [-2,1,5] )
print( f'x={x}, y={y}' )

x=[2. 1. 3.], y=[-2  1  5]

In [ ]:
# 加法
x + y

array([0., 2., 8.])

In [ ]:
# 減法
x - y

array([ 4.,  0., -2.])

In [ ]:
# 乘法
x * y

array([-4.,  1., 15.])

In [ ]:
# 除法
x / y

array([-1. ,  1. ,  0.6])

In [ ]:
# 商
x // y

array([-1.,  1.,  0.])

In [ ]:
# 餘數 ps: 餘數的正負號與除數相同
x % y

array([-0.,  0.,  3.])

In [ ]:
# 指數冪次方
x ** y

array([  0.25,   1.  , 243.  ])

$x=[x_1,x_2,x_3]$,  $y=[y_1,y_2,y_3]$   
$\displaystyle x @ y = \sum_{i=1}^{3} x_i \times y_i $

In [ ]:
x @ y

12.0

## 向量\矩陣運算  

NumPy 一維陣列來可視為向量( vector )、二維陣列視為矩陣( matrix )，下列將介紹矩陣加法( Addition )及乘法( Multiplication )運算：

(i) 矩陣加法( Matrix Addition )   

$ V_{2\times 3} \pm W_{2\times 3} $ =
$
 \left[
 \begin{matrix}
   v_{11} & v_{12} & v_{13} \\ v_{21} & v_{22} & v_{23} 
  \end{matrix}
  \right]
$ 
$\pm$ 
$
 \left[
 \begin{matrix}
   w_{11} & w_{12} & w_{13} \\ w_{21} & w_{22} & w_{23}
  \end{matrix}
  \right]
$ = 
$
 \left[
 \begin{matrix}
   v_{11}\pm w_{11} & v_{12}\pm w_{12} & v_{13}\pm w_{13} \\ v_{21}\pm w_{21} & v_{22}\pm w_{22} & v_{23}\pm w_{23}
  \end{matrix}
  \right]_{2\times 3}
$

In [ ]:
V = np.array( [[1,3,5],[7,9,11]] )
W = np.array( [[2,4,6],[8,10,12]] )

# 矩陣相加
P = V + W

# 矩陣相減
M = V - W

print( f'矩陣相加 V + W = \n{P}\n' )
print( f'矩陣相減 V - W = \n{M}' )

矩陣相加 V + W =
[[ 3  7 11]
 [15 19 23]]

矩陣相減 V - W =
[[-1 -1 -1]
 [-1 -1 -1]]

(ii) 矩陣乘法( Matrix Multiplication )    

我們可以透過 `dot()` 函數或 ` @ ` 進行矩陣的乘法，下列為 $2\times3$ 矩陣與 $3\times2$ 矩陣兩者的乘法運算方式：   

$ V_{2\times 3} \cdot W_{3\times 2} $ =
$
 \left[
 \begin{matrix}
   v_{11} & v_{12} & v_{13} \\ v_{21} & v_{22} & v_{23} 
  \end{matrix}
  \right]
$ 
$\cdot$ 
$
 \left[
 \begin{matrix}
   w_{11} & w_{12} \\ w_{21} & w_{22} \\ w_{31} & w_{32}
  \end{matrix}
  \right]
$ = 
$
 \left[
 \begin{matrix}
   \displaystyle \sum_{k=1}^{3} (v_{1k}\times w_{k1}) & \displaystyle \sum_{k=1}^{3} (v_{1k}\times w_{k2}) \\ 
   \displaystyle \sum_{k=1}^{3} (v_{2k}\times w_{k1}) & \displaystyle \sum_{k=1}^{3} (v_{2k}\times w_{k2})
  \end{matrix}
  \right]_{2\times 2}
$

In [ ]:
V = np.array( [[1,2,3],[4,5,6]] )
W = np.array( [[1,2],[3,4],[5,6]] )

# 矩陣相乘（內積）
D1 = np.dot( V, W )
D2 = V @ W

print( f'V = \n{V}\n' )
print( f'W = \n{W}\n' )
print( f'矩陣乘法 V．W = \n{D1}\n' )
print( f'矩陣乘法 V．W = \n{D2}' )

V =
[[1 2 3]
 [4 5 6]]

W =
[[1 2]
 [3 4]
 [5 6]]

矩陣乘法 V．W =
[[22 28]
 [49 64]]

矩陣乘法 V．W =
[[22 28]
 [49 64]]

## 牛刀小試

### Q1 : 建立三個陣列分別代表下列三個矩陣 A、B、C :    

$ A $ =
$
 \left[
 \begin{matrix}
   1 & 2 \\ 3 & 4 \\ 5 & 6 \\ 7 & 8  
  \end{matrix}
  \right]
$ 

$ B $ =
$
 \left[
 \begin{matrix}
   1 & 1 \\ 1 & 1 \\ 1 & 1   
  \end{matrix}
  \right]
$ 

$ C $ =
$
 \left[
 \begin{matrix}
   1 & 2 & 3 \\ 4 & 5 & 6   
  \end{matrix}
  \right]
$

In [ ]:
# 方法一
A = np.array( ([1,2],[3,4],[5,6],[7,8]) )
A

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [ ]:
# 方法二
A = np.array( [1,2,3,4,5,6,7,8] ).reshape(4,2)
A

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [ ]:
B = np.ones( (3,2) )
B

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [ ]:
# 方法一
C = np.array( ([1,2,3],[4,5,6]) )
C

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
# 方法二
C = np.array( [1,2,3,4,5,6] ).reshape(2,3)
C

array([[1, 2, 3],
       [4, 5, 6]])

### Q2 : 求得矩陣 A 的維度(dimension)、形狀(shape) :

In [ ]:
# 維度
dim_A = A.ndim
dim_A

2

In [ ]:
# 形狀
shape_A = A.shape
shape_A

(4, 2)

### Q3 : 求得矩陣 A 與 C 相乘的結果 :

In [ ]:
dot_AC = np.dot( A, C )
dot_AC

array([[ 9, 12, 15],
       [19, 26, 33],
       [29, 40, 51],
       [39, 54, 69]])

# Series 與 DataFrame

Pandas 套件提供兩種資料結構，分別是用來處理一維資料的 Series 及二維資料的 DataFrame 。 Series 能用以儲存整數、浮點數及字串型態的物件，另外， DataFrame 是一種具備列(row)及欄(column)索引的表格物件， DataFrame 的功用如同 Excel 試算表，可對它進行篩選、排序、樞紐分析及統計、新增或刪減欄位等。

## Series  

使用 `pandas.Series( data, index )` 來建立一個 Series ，其中 data 為 Series 中存放的資料，index 為用來指定 Series 的索引，如果在建立 Series 時無指定索引時，則 Pandas 會自動從 0 開始建立索引：

In [ ]:
# 用 Python 列表(List)建立 Series
S1 = pd.Series( ['Tom','1/1',2021], index=['name','date','year'] )

# 用 Python 字典(Dictionary)建立 Series
S2 = pd.Series( {'dog':0, 'cat':1} )

# 用 NumPy 陣列(Array)建立 Series
S3 = pd.Series( np.arange( 99, 103 ) )

print( f'列表建立 Series: \n{S1}\n' )
print( f'字典建立 Series: \n{S2}\n' )
print( f'陣列建立 Series: \n{S3}\n' )

列表建立 Series:
name     Tom
date     1/1
year    2021
dtype: object

字典建立 Series:
dog    0
cat    1
dtype: int64

陣列建立 Series:
0     99
1    100
2    101
3    102
dtype: int64

可透過 `values` 及 `index` 屬性來取得 Series 的資料及索引值：

In [ ]:
S1 = pd.Series( [ 'Tom', '1/1', 2020 ], index=['name','date','year'] )

# 取得 Series 的資料
SeriesValue = S1.values

# 取得 Series 的索引值
SeriesIndex = S1.index

print( f'列表建立的 Series：\n{S1}\n'  )
print( f'Serire 的資料：{SeriesValue}' )
print( f'Serire 的索引值：{SeriesIndex}' )

列表建立的 Series：
name     Tom
date     1/1
year    2020
dtype: object

Serire 的資料：['Tom' '1/1' 2020]
Serire 的索引值：Index(['name', 'date', 'year'], dtype='object')

## DataFrame 

使用 [`pd.DataFrame( data )`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) 來建立一個 DataFrame ，其中資料來源 data 可以是二維陣列(Array)、 Series 、 Python 字典(Dictionary)。

In [ ]:
# 城市及溫度資料
city = ['台北','高雄','台南','台中','桃園']
temperature = [18, 28, 27.5, np.nan, 20]

# 用 Python List 所組成的字典(Dictionary)建立 DataFrame
df = pd.DataFrame( data={'CITY':city,'TEMPERATURE':temperature} )
df

  CITY  TEMPERATURE
0   台北         18.0
1   高雄         28.0
2   台南         27.5
3   台中          NaN
4   桃園         20.0

透過 `shape` 屬性可得知 DataFrame 的列數與欄數：

In [ ]:
df.shape

(5, 2)

透過 `columns` 屬性可得知 DataFrame 的欄位名稱：

In [ ]:
df.columns

Index(['CITY', 'TEMPERATURE'], dtype='object')

透過 `info()` 屬性可得知 DataFrame 中每個欄位的型態及非缺失的資料總數：

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CITY         5 non-null      object
 1   TEMPERATURE  4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 208.0+ bytes

針對**數值型態**的欄位，使用 [`pandas.DataFrame.describe()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) 函數獲得數值的分佈狀況：

In [ ]:
df.describe()

       TEMPERATURE
count     4.000000
mean     23.375000
std       5.121442
min      18.000000
25%      19.500000
50%      23.750000
75%      27.625000
max      28.000000

### 選取資料

Pandas 提供我們標籤 `loc` 或位置 `iloc` 的索引器( indexer )，選擇所需要的資料：

In [ ]:
dict_ = { 'Name': ['Steven','Bill','Joe','Jerry'],
          'Height': [173.5,179.0,170.0,165.0],
          'Weight': [90,95,98,88] }

df = pd.DataFrame( dict_, index=['A01','A02','A03','A04'] )
df

       Name  Height  Weight
A01  Steven   173.5      90
A02    Bill   179.0      95
A03     Joe   170.0      98
A04   Jerry   165.0      88

 * [pandas.DataFrame.loc[ ]](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html)：透過列/行的標籤(列索引/欄位名稱)取得資料。

In [ ]:
# 取得前 2 筆資料 
h2 = df.loc[ 'A01':'A02' ]
h2

       Name  Height  Weight
A01  Steven   173.5      90
A02    Bill   179.0      95

In [ ]:
# h2 的資料結構為 DataFrame
type(h2)

pandas.core.frame.DataFrame

In [ ]:
# 取得欄位 'Height' 的資料 
h = df.loc[ :, 'Height' ]
h

A01    173.5
A02    179.0
A03    170.0
A04    165.0
Name: Height, dtype: float64

In [ ]:
# h 的資料結構為 Series
type(h)

pandas.core.series.Series

In [ ]:
h.values

array([173.5, 179. , 170. , 165. ])

In [ ]:
# 取得欄位 'Height' 的頭 2 筆資料 
h = df.loc[ 'A01':'A02', 'Height' ]
h

A01    173.5
A02    179.0
Name: Height, dtype: float64

In [ ]:
# h 的資料結構為 Series
type(h)

pandas.core.series.Series

 * [pandas.DataFrame.iloc[ ]](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html)：透過列/行的索引編號(列索引/欄索引)取得資料。

In [ ]:
# 取得前 2 筆資料 
h2 = df.iloc[ 0:2 ]
h2

       Name  Height  Weight
A01  Steven   173.5      90
A02    Bill   179.0      95

In [ ]:
# h2 的資料結構為 DataFrame
type(h2)

pandas.core.frame.DataFrame

In [ ]:
# 取得欄位 'Height' 的資料 
h = df.iloc[ :, 1 ]
h

A01    173.5
A02    179.0
A03    170.0
A04    165.0
Name: Height, dtype: float64

In [ ]:
# h 的資料結構為 Series
type(h)

pandas.core.series.Series

In [ ]:
h.values

array([173.5, 179. , 170. , 165. ])

In [ ]:
# 取得欄位 'Height' 的資料 
h = df.iloc[ :, [1] ]
h

     Height
A01   173.5
A02   179.0
A03   170.0
A04   165.0

In [ ]:
# h 的資料結構為 DataFrame
type(h)

pandas.core.frame.DataFrame

* 藉由邏輯條件選取資料 :

In [ ]:
dict_ = { 'Name': ['Steven','Bill','Joe','Jerry'],
          'Height': [173.5,179.0,170.0,165.0],
          'Weight': [90,95,98,88] }

df = pd.DataFrame( dict_, index=['A01','A02','A03','A04'] )
df

       Name  Height  Weight
A01  Steven   173.5      90
A02    Bill   179.0      95
A03     Joe   170.0      98
A04   Jerry   165.0      88

In [ ]:
# 'Height' 超過 170 
df[ df['Height']>170 ]

       Name  Height  Weight
A01  Steven   173.5      90
A02    Bill   179.0      95

In [ ]:
# 'Height' 超過 170 且 'Weight' 超過 90
df[ (df['Height']>170) & (df['Weight']>90) ]

     Name  Height  Weight
A02  Bill   179.0      95

In [ ]:
# 'Height' 超過 170 或 'Weight' 超過 90
df[ (df['Height']>170) | (df['Weight']>90) ]

       Name  Height  Weight
A01  Steven   173.5      90
A02    Bill   179.0      95
A03     Joe   170.0      98

In [ ]:
# 'Height' 最高
df[ df['Height']==df['Height'].max() ]

     Name  Height  Weight
A02  Bill   179.0      95

### 欄位間的運算  

[`pandas.DataFrame.apply()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html) 及 [`pandas.DataFrame.applymap()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.applymap.html) 函數可用來操作 DataFrame 欄位之間的運算，此兩種方法通常會搭配 [lambda](https://www.w3schools.com/python/python_lambda.asp) 匿名運算式一起使用 :

In [ ]:
dict_ = { 'Name': ['Steven','Bill','Joe','Jerry'],
          'Height': [173.5,179.0,170.0,165.0],
          'Weight': [62,95,98,40] }

df = pd.DataFrame( dict_, index=['A01','A02','A03','A04'] )
df

       Name  Height  Weight
A01  Steven   173.5      62
A02    Bill   179.0      95
A03     Joe   170.0      98
A04   Jerry   165.0      40

In [ ]:
# 計算 BMI
df['BMI'] = df['Weight']/(df['Height']/100)**2 
df

       Name  Height  Weight        BMI
A01  Steven   173.5      62  20.596467
A02    Bill   179.0      95  29.649512
A03     Joe   170.0      98  33.910035
A04   Jerry   165.0      40  14.692378

In [ ]:
# 計算體重超過 90 的 BMI
df['Weight over 90 BMI'] = df.apply( lambda x: x['Weight']/(x['Height']/100)**2 if x['Weight']>90 else '--', axis=1 )
df

       Name  Height  Weight        BMI Weight over 90 BMI
A01  Steven   173.5      62  20.596467                 --
A02    Bill   179.0      95  29.649512            29.6495
A03     Joe   170.0      98  33.910035              33.91
A04   Jerry   165.0      40  14.692378                 --

In [ ]:
# BMI 狀態
df['Status'] = df.apply( lambda x: '異常' if x['BMI']>=24 else '過輕' if x['BMI']<18.5 else '正常', axis=1 )
df

       Name  Height  Weight        BMI Weight over 90 BMI Status
A01  Steven   173.5      62  20.596467                 --     正常
A02    Bill   179.0      95  29.649512            29.6495     異常
A03     Joe   170.0      98  33.910035              33.91     異常
A04   Jerry   165.0      40  14.692378                 --     過輕

## 牛刀小試

### Q1 : 建立一個 DataFrame 來儲存下列 6 位學生的成績 :    
&emsp;&emsp;&nbsp;&nbsp; ID = ['01','02','03','04','05','06']  
&emsp;&emsp;&nbsp;&nbsp; Accounting = [90,88,73,85,70,77]  
&emsp;&emsp;&nbsp;&nbsp; Math = [68,85,72,91,83,81]  
&emsp;&emsp;&nbsp;&nbsp; Music = [92,94,90,96,91,94]

In [ ]:
ID = ['01','02','03','04','05','06']
Accounting = [90,88,73,85,70,77]
Math = [68,85,72,91,83,81]
Music = [92,94,90,96,91,96]

df = pd.DataFrame( {'ID':ID,'Accounting':Accounting,'Math':Math,'Music':Music} )
df

   ID  Accounting  Math  Music
0  01          90    68     92
1  02          88    85     94
2  03          73    72     90
3  04          85    91     96
4  05          70    83     91
5  06          77    81     96

### Q2 : 找出每科最高分的學生 ID :

In [ ]:
# Accounting 最高分的學生 ID
df[ df['Accounting']==df['Accounting'].max() ]['ID']

0    01
Name: ID, dtype: object

In [ ]:
# Math 最高分的學生 ID
df[ df['Math']==df['Math'].max() ]['ID']

3    04
Name: ID, dtype: object

In [ ]:
# Music 最高分的學生 ID
df[ df['Music']==df['Music'].max() ]['ID']

3    04
5    06
Name: ID, dtype: object

### Q3 : 計算每位學生的平均分數 : 

<br/>  
&emsp;&emsp;&nbsp;&nbsp; Output:    

| ID | Accounting | Math | Music | Average |
| --- |---: | ---: | ---: | ---: | 
|01|90|68|92|83.333333|
|02|88|85|94|89.000000|
|03|73|72|90|78.333333|
|04|85|91|96|90.666667|
|05|70|83|91|81.333333|
|06|77|81|94|84.000000|

In [ ]:
# 方法一
df['Average'] = df.apply( lambda x: (x['Accounting']+x['Math']+x['Music'])/3, axis=1 )
df

# 方法二
#df['Average'] = df.mean(axis=1)
#df

   ID  Accounting  Math  Music    Average
0  01          90    68     92  83.333333
1  02          88    85     94  89.000000
2  03          73    72     90  78.333333
3  04          85    91     96  90.666667
4  05          70    83     91  81.333333
5  06          77    81     96  84.666667

### Q4 : 計算每位學生的加權平均分數，計算公式如下 :  
$$ \text{Weighted Mean} = 0.5 \times \text{Accounting} + 0.4 \times \text{Math} + 0.1 \times \text{Music} $$   
<br/>  
&emsp;&emsp;&nbsp;&nbsp; Output:    

| ID | Accounting | Math | Music | Average | Weighted Mean |
| --- |---: | ---: | ---: | ---: | ---: |
|01|90|68|92|83.333333|81.4|
|02|88|85|94|89.000000|87.4|
|03|73|72|90|78.333333|74.3|
|04|85|91|96|90.666667|88.5|
|05|70|83|91|81.333333|77.3|
|06|77|81|94|84.000000|80.5|

In [ ]:
df['Weighted Mean'] = df.apply( lambda x: 0.5*x['Accounting']+0.4*x['Math']+0.1*x['Music'], axis=1 )
df

   ID  Accounting  Math  Music    Average  Weighted Mean
0  01          90    68     92  83.333333           81.4
1  02          88    85     94  89.000000           87.4
2  03          73    72     90  78.333333           74.3
3  04          85    91     96  90.666667           88.5
4  05          70    83     91  81.333333           77.3
5  06          77    81     96  84.666667           80.5